@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
   background-color: #A6A6A6;
}
/*nav-bar*/
.nav{
    display: flex;
    justify-content: space-between;
    background-color: #0D0D0D;
    height: 19vh;
    
}
.navbar{
    display: flex;
    
}
.navbar ul{
    display: flex;
    list-style: none;
    margin-top: 1rem;
    padding-right: 100vp;
}
.navbar li{
    padding: 10px;
    margin: 5px;
    
}
a{
    text-decoration:none ;
    font-size: 20px;
    color: #F2F2F2;
}
.logo{
    display: flex;
    
}
.img-logo{
    height: 25vh;
    margin-left: 30px;
}
/*Fin nav-bar*/
/*Section Hero*/
.hero{
    width: 100%;
    height: 100vh;
    background-image: url(/REACT/img/banner1.png);
    background-size: cover;
    position: relative;
}
.container-hero{
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
}
.hero h1{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: clamp(4vw,6vw ,8vw );
    color:#0D0D0D;
    
}
.hero h2{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif; 
    font-style: normal;
    font-weight:normal;
    color:#0D0D0D;
}
.hero h3{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight:bold;
    color:#0D0D0D;
}

@media(min-width:1024px){
    .hero{
        background-attachment: fixed;
    }
}
@media(max-height:500px){
    .hero{
        height: 150vh;
    }
}
/*Fin section hero*/
/*Que son*/
.bd-container h2{
    display: flex;
    position: relative;
    justify-content: center;
    padding: 5%;
}
.definiciones{
    display: flex;
    
    justify-content: space-between;
}
.react h3{
    display: flex;
    justify-content: center ;
    text-shadow: 2px 2px 2px rgb(0, 140, 255);

}
.react p{
    display:flex;
    justify-content: center;
    text-align:justify;
    padding: 10px;
    margin: 10px;
}
.angular h3{
    display: flex;
    justify-content: center;
}
.angular p{
    display: flex;
    justify-content: center;
    text-align: justify;
    padding: 10px;
    margin: 10px;
}
.vue h3{
    display: flex;
    justify-content: center;
}
.vue p{
    display: flex;
    text-align: justify;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}
/*Fin QUE SON*/
/*Inicio de semejanzas*/
.container-semejanzas h2{
    display: flex;
    position: relative;
    justify-content: center;
    padding: 5%;
}
.semejanzas{
    display: flex;
    justify-content: space-between;
}
.angular-semejanzas ul{
    display: block;
    padding-left: 10%;
}
.angular-semejanzas li{
    padding: 2%;
    list-style:url();
}
/*Fin de semejanzas*/