/*Contenedor principal*/
.contenedor{
    display: flex;
    background-color: black;
    justify-content: space-between;
}/*Fin contenedor principal*/
/*Imagen logo*/
.imagen-logo{
    height: 70px;
    margin-left: 15px;
}/*Fin imagen logo*/
/*Nav link*/
ul{
    list-style: none;
    display: flex;
}
li{
    padding: 10px;
    font-size: 15px;
}
a{
    text-decoration: none;
    color: #fff;
}